
{% extends 'base.html' %}

{% load static %}

{% block content %}

{{block.super}}
<table class="table">
    <thead>
        <tr>
            <th scope="col">UserId</th>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Body</th>
        </tr>
    </thead>
    <tbody>
        {% for i in data %}
        <tr>
            <th scope="row">{{i.userId}}</th>
            <td>{{i.id}}</td>
            <td>{{i.title}}</td>
            <td>{{i.body}}</td>
        </tr>

        {% endfor %}

    </tbody>
</table>
<!-- table data closed -->

<h1> I am inside first app </h1>

<div class="card mx-5" style="width: 18rem;">
    <img src="{% static 'images/bird2.jpg'%}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

<!-- <img src="{% static 'images/bird2.jpg'%}" alt=""> -->

{% endblock %}